
// Job paramaters to set for this environment

params.scratch = false

// Resource manager settings

// Process setting

process {

  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  container = "docker://ikmb/deepvariant:1.2.3"

  // Specific cluster parameters for each process

	withLabel: deepvariant {
		container = "docker://google/deepvariant:1.2.0"
	}
	withLabel: rtgtools {
		container = "docker://quay.io/biocontainers/rtg-tools:3.11--0"
	}
	withLabel: glnexus {
		container = "docker://quay.io/mlin/glnexus:v1.3.1"
	}	
        withLabel: mosdepth {
                container = "quay.io/biocontainers/mosdepth:0.2.9--hbeb723e_1"
        }
	withLabel: manta {
		container = "docker://quay.io/biocontainers/manta:1.6.0--h9ee0642_1"
	}
	withName:runFastp {
		cpus = params.max_cpus
		time = { check_max( 12.h * task.attempt, 'time' ) }
		memory = { check_max( 8.GB * task.attempt, 'memory' ) }
	}

	withName:runManta {
		ime = { check_max( 60.h * task.attempt, 'time' ) }
                memory = { check_max(32.GB * task.attempt, 'memory' ) }
                cpus = params.max_cpus
	}
	
	withName:runBwa {
		memory = { check_max( 96.GB * task.attempt, 'memory' ) }
		time = { check_max( 96.h * task.attempt, 'time' ) }
		cpus = params.max_cpus
	}
	withName:merge_and_dedup {
		memory = { check_max( 64.GB * task.attempt, 'memory' ) }
		cpus = { check_max( 8 * task.attempt, 'cpus' ) }
		time = { check_max( 72.h * task.attempt, 'time' ) }
	}

	withName:runDeepvariant {
		time = { check_max( 60.h * task.attempt, 'time' ) }
                memory = { check_max(32.GB * task.attempt, 'memory' ) }
                cpus = params.max_cpus
	}
	withName: runMergeGvcf {
		cpus = { check_max( 16 * task.attempt, 'cpus' ) }
		memory = { 48.GB * task.attempt }
                time = { 72.h * task.attempt }
	}
	withName: runWgsCoverage {
		memory = { 12.GB * task.attempt }
                cpus = 8
                time = { 12.h * task.attempt }
	}
	withName: VcfGetSample {
		memory = { 12.GB * task.attempt }
                cpus = 8
                time = { 12.h * task.attempt }
	}

}


