params {

   genomes {

        'GRCh37' {
                fasta = "${params.gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta"
		bwa2_index = "${params.gatk_bundle_path}/b37/bwa2/human_g1k_v37_decoy.fasta"
		fai = "${params.gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.fai"
		fastagz = "${params.gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz"
                gzfai = "${params.gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz.fai"
		gzi = "${params.gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz.gzi"
		dict = "${params.gatk_bundle_path}/b37/human_g1k_v37_decoy.dict"
                dbsnp = "${params.gatk_bundle_path}/b37/dbsnp_138.b37.vcf.gz"
		bed = "${params.gatk_bundle_path}/b37/b37_wgs_calling_regions.v1.bed"
		mitochondrion = "MT"
        }
	'GRCh38' {
		fasta = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa"
		mmi = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.mmi"
		bwa2_index = "${params.gatk_bundle_path}/hg38_no_alt/bwa2/Homo_sapiens_GRCh38_no_alts.fa"
		fai = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.fai"
		fastagz = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz"
		gzi = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz.gzi"
                gzfai = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz.fai"
		dict = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.dict"
                dbsnp = "${params.gatk_bundle_path}/hg38_no_alt/dbsnp_138.hg38.vcf.gz"
		bed = "${params.gatk_bundle_path}/hg38_no_alt/wgs_calling_regions.hg38.bed"
		mitochondrion = "chrM"
		tandem_repeats = "${baseDir}/assets/sv/hg38/human_GRCh38_no_alt_analysis_set.trf.bed"
		cnv_annotation = "${baseDir}/assets/cnvkit/hg38/refFlat.txt.gz"
                cnv_mappable = "${baseDir}/assets/cnvkit/hg38/hg38.mappable.bed.gz"
                cnv_blacklist = "${baseDir}/assets/cnvkit/hg38/hg38.blacklist.bed"
                cnv_exclusion = "${baseDir}/assets/cnvkit/hg38/hg38.encode_exclusion_list.bed"

	}        
  }
  
}
