params {

   genomes {

    gbz = "${params.genomes_base}/vg/hprc-v1.1-mc-grch38.gbz"
    hapl = "${params.genomes_base}/vg/hprc-v1.1-mc-grch38.hapl"

    'CHM13v2' { 
        fasta = "${params.genomes_base}/CHM13v2/CHM13v2.fasta"
        vg_path = "CHM13"
        mmi = "${params.genomes_base}/CHM13v2/CHM13v2.mmi"
        fai = "${params.genomes_base}/CHM13v2/CHM13v2.fasta.fai"
        bwa2_index = "${params.genomes_base}/CHM13v2/bwa2/CHM13v2.fasta"
        dict = "${params.genomes_base}/CHM13v2/CHM13v2.dict"
        dbsnp = "${params.genomes_base}/CHM13v2/chm13v2.0_dbSNPv155.vcf.gz"
        bed = "${baseDir}/assets/calling_intervals/chm13_v2/combined_mask.bed.gz"
    } 
    'GRCm38' {
        fasta = "/work_beegfs/ikmb_repository/references/genomes/mus_musculus/EnsEMBL/GRCm38/genome.fa"
        fai = "/work_beegfs/ikmb_repository/references/genomes/mus_musculus/EnsEMBL/GRCm38.fa.fai"
        bwa2_index = "/work_beegfs/ikmb_repository/references/genomes/mus_musculus/EnsEMBL/GRCm38/bwa2/genome.fa"
        dict = "/work_beegfs/ikmb_repository/references/genomes/mus_musculus/EnsEMBL/GRCm38/genome.dict"
        dbsnp = "/work_beegfs/ikmb_repository/references/genomes/mus_musculus/EnsEMBL/GRCm38/mgp.v5.merged.snps_all.dbSNP142.vcf.gz"
    }
    'GRCh38' {
        fasta = "${params.genomes_base}/GRCh38_no_alt/GRCh38_no_alt.fasta"
        mmi = "${params.genomes_base}/GRCh38_no_alt/GRCh38_no_alt.mmi"
        vg_path = "GRCh38" 
        bwa2_index = "${params.genomes_base}/GRCh38_no_alt/bwa2/GRCh38_no_alt.fasta"
        fai = "${params.genomes_base}/GRCh38_no_alt/GRCh38_no_alt.fasta.fai"
        dict = "${params.genomes_base}/GRCh38_no_alt/GRCh38_no_alt.dict"
        dbsnp = "${params.genomes_base}/GRCh38_no_alt/dbsnp_146.hg38.vcf.gz"
        bed = "${baseDir}/assets/calling_intervals/hg38wgs_calling_regions.hg38.bed"
        tandem_repeats = "${baseDir}/assets/sv/hg38/human_GRCh38_no_alt_analysis_set.trf.bed"
        cnv_annotation = "${baseDir}/assets/cnvkit/hg38/refFlat.txt.gz"
        cnv_mappable = "${baseDir}/assets/cnvkit/hg38/hg38.mappable.bed.gz"
        cnv_blacklist = "${baseDir}/assets/cnvkit/hg38/hg38.blacklist.bed"
        cnv_exclusion = "${baseDir}/assets/cnvkit/hg38/hg38.encode_exclusion_list.bed"
    }     
    'GRCh38_p14' {
        fasta = "${params.genomes_base}/GRCh38_no_alt_p14/GRCh38_no_alt_p14.fasta"
        mmi = "${params.genomes_base}/GRCh38_no_alt_p14/GRCh38_no_alt_p14.mmi"
        bwa2_index = "${params.genomes_base}/GRCh38_no_alt_p14/bwa2/GRCh38_no_alt_p14.fasta"
        fai = "${params.genomes_base}/GRCh38_no_alt_p14/GRCh38_no_alt_p14.fasta.fai"
        dict = "${params.genomes_base}/GRCh38_no_alt_p14/GRCh38_no_alt_p14.dict"
        dbsnp = "${params.genomes_base}/GRCh38_no_alt_p14/dbsnp_146.hg38.vcf.gz"
        bed = "${baseDir}/assets/calling_intervals/hg38wgs_calling_regions.hg38.bed"
        tandem_repeats = "${baseDir}/assets/sv/hg38/human_GRCh38_no_alt_analysis_set.trf.bed"
        cnv_annotation = "${baseDir}/assets/cnvkit/hg38/refFlat.txt.gz"
        cnv_mappable = "${baseDir}/assets/cnvkit/hg38/hg38.mappable.bed.gz"
        cnv_blacklist = "${baseDir}/assets/cnvkit/hg38/hg38.blacklist.bed"
        cnv_exclusion = "${baseDir}/assets/cnvkit/hg38/hg38.encode_exclusion_list.bed"
    }
    'hg38' {
        fasta = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/stdchroms.hg38.fa"
        dbsnp = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/dbsnp_146.hg38.vcf.gz"
        mmi = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/stdchroms.hg38.mmi"
        bwa2_index = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/stdchroms.hg38.fa"
        fai = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/stdchroms.hg38.fa.fai"
        dict = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/stdchroms.hg38.dict"
        bed = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/regions.bed"
        tandem_repeats = "${baseDir}/assets/sv/hg38/human_GRCh38_no_alt_analysis_set.trf.bed"
        cnv_annotation = "${baseDir}/assets/cnvkit/hg38/refFlat.txt.gz"
        cnv_mappable = "${baseDir}/assets/cnvkit/hg38/hg38.mappable.bed.gz"
        cnv_blacklist = "${baseDir}/assets/cnvkit/hg38/hg38.blacklist.bed"
        cnv_exclusion = "${baseDir}/assets/cnvkit/hg38/hg38.encode_exclusion_list.bed"
    }

  }
  
}
