params {

   genomes {

	'GRCm38' {
		fasta = "/work_beegfs/ikmb_repository/references/genomes/mus_musculus/EnsEMBL/GRCm38/genome.fa"
		fai = "/work_beegfs/ikmb_repository/references/genomes/mus_musculus/EnsEMBL/GRCm38.fa.fai"
		bwa2_index = "/work_beegfs/ikmb_repository/references/genomes/mus_musculus/EnsEMBL/GRCm38/bwa2/genome.fa"
		dict = "/work_beegfs/ikmb_repository/references/genomes/mus_musculus/EnsEMBL/GRCm38/genome.dict"
		dbsnp = "/work_beegfs/ikmb_repository/references/genomes/mus_musculus/EnsEMBL/GRCm38/mgp.v5.merged.snps_all.dbSNP142.vcf.gz"
	}

    'GRCh37' {
        fasta = "${params.gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta"
		bwa2_index = "${params.gatk_bundle_path}/b37/bwa2/human_g1k_v37_decoy.fasta"
		fai = "${params.gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.fai"
		dict = "${params.gatk_bundle_path}/b37/human_g1k_v37_decoy.dict"
        dbsnp = "${params.gatk_bundle_path}/b37/dbsnp_138.b37.vcf.gz"
		bed = "${params.gatk_bundle_path}/b37/b37_wgs_calling_regions.v1.bed"
    }

	'GRCh38' {
		fasta = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa"
		mmi = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.mmi"
		bwa2_index = "${params.gatk_bundle_path}/hg38_no_alt/bwa2/Homo_sapiens_GRCh38_no_alts.fa"
		fai = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.fai"
		dict = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.dict"
        dbsnp = "${params.gatk_bundle_path}/hg38_no_alt/dbsnp_138.hg38.vcf.gz"
		bed = "${params.gatk_bundle_path}/hg38_no_alt/wgs_calling_regions.hg38.bed"
		tandem_repeats = "${baseDir}/assets/sv/hg38/human_GRCh38_no_alt_analysis_set.trf.bed"
		cnv_annotation = "${baseDir}/assets/cnvkit/hg38/refFlat.txt.gz"
        cnv_mappable = "${baseDir}/assets/cnvkit/hg38/hg38.mappable.bed.gz"
        cnv_blacklist = "${baseDir}/assets/cnvkit/hg38/hg38.blacklist.bed"
        cnv_exclusion = "${baseDir}/assets/cnvkit/hg38/hg38.encode_exclusion_list.bed"
	}     

	'GRCh38_p14' {
        fasta = "${params.gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa"
		mmi = "${params.gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.mmi"
        bwa2_index = "${params.gatk_bundle_path}/hg38_no_alt_p14/bwa2/Homo_sapiens_no_alt_p14.fa"
        fai = "${params.gatk_bundle_path}/hg38_no_alt/Homo_sapiens_no_alt_p14.fa.fai"
        dict = "${params.gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.dict"
        dbsnp = "${params.gatk_bundle_path}/hg38_no_alt_p14/dbsnp_146.hg38.vcf.gz"
        bed = "${params.gatk_bundle_path}/hg38_no_alt_p14/wgs_calling_regions.hg38.bed"
        tandem_repeats = "${baseDir}/assets/sv/hg38/human_GRCh38_no_alt_analysis_set.trf.bed"
        cnv_annotation = "${baseDir}/assets/cnvkit/hg38/refFlat.txt.gz"
        cnv_mappable = "${baseDir}/assets/cnvkit/hg38/hg38.mappable.bed.gz"
        cnv_blacklist = "${baseDir}/assets/cnvkit/hg38/hg38.blacklist.bed"
        cnv_exclusion = "${baseDir}/assets/cnvkit/hg38/hg38.encode_exclusion_list.bed"
    }

	'hg38' {
		fasta = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/stdchroms.hg38.fa"
		dbsnp = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/dbsnp_146.hg38.vcf.gz"
		mmi = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/stdchroms.hg38.mmi"
		bwa2_index = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/stdchroms.hg38.fa"
		fai = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/stdchroms.hg38.fa.fai"
		dict = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/stdchroms.hg38.dict"
		bed = "/work_beegfs/ikmb_repository/references/custom_indices/wittig/hg38/regions.bed"
		tandem_repeats = "${baseDir}/assets/sv/hg38/human_GRCh38_no_alt_analysis_set.trf.bed"
		cnv_annotation = "${baseDir}/assets/cnvkit/hg38/refFlat.txt.gz"
        cnv_mappable = "${baseDir}/assets/cnvkit/hg38/hg38.mappable.bed.gz"
        cnv_blacklist = "${baseDir}/assets/cnvkit/hg38/hg38.blacklist.bed"
        cnv_exclusion = "${baseDir}/assets/cnvkit/hg38/hg38.encode_exclusion_list.bed"
	}

  }
  
}
